html, body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  max-width: 1512px;
  margin: auto;
  font-size: large;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
a:hover, .a-focused {
  font-weight: bold;
  text-decoration: underline;
}
.menu-item {
  display: inline-block;
  padding: 0.2cm;
}
#wrapper {
  margin: 0;
  min-height: 100%;
}
header {
  padding: 1cm;
}
main {
  margin: auto;
  max-width: 1024px;
  padding-bottom: 50px;
}
/*nav {
  display: flex;
  justify-content: space-between;
}*/
#right-menu {
  float: right;
}

#left-menu {
  display: inline-block;
  text-align: left;
}

footer {
  font-size: small;
  text-align: center;
  margin-top: -50px;
}

#my-img {
  width: 294px;
  height: 294px;
  border-radius: 50%;
}

#main-front {
  text-align: center;
}
