---
import TechStack from './TechStack.astro'
---
<div id="about">
    <img src="albertolerda.jpg" alt="A picture of mine" id="my-img">
    <section>
    <h1> Hi &#128075;, I'm Alberto</h1>
    <p>
    I'm a <b>Software Engineer</b> specialized in Backend development and deployment, with experience also on the Frontend.
    </p>

    <p>
    I've a Master's degree in Mathematics, curriculum <b>Cryptography and Coding Theory</b>, and an high-school diploma as a <b>computer technician</b>. This course of studies offered me both <b>practical and theoretical abilities</b> in front of <b>real-world problems</b>.
    </p>

    <p>
    I'm currently working remotely and I'm based in Italy.
    </p>

    <p>
    I have been programming since I was 13, during high school I attended at the national competition of the Italian Olympiad of Informatics and Olympiad of Problem Solving (as you can see <a href="https://www.targatocn.it/2015/09/19/leggi-notizia/argomenti/scuole-e-corsi/articolo/due-studenti-dellitis-di-cuneo-qualificati-alle-finali-nazionali-delle-olimpiadi-di-informatica.html">here</a> and <a href="https://www.targatocn.it/2013/05/11/leggi-notizia/argomenti/scuole-e-corsi/articolo/ottimi-risultati-per-gli-studenti-dellitis-delpozzo-nellinformatica.html">here</a>).
    </p>

    <p>
    When I am not coding, I like reading or being outside.
    </p>

    <h2>Pubblications</h2>
    <ul>
    <li>2021 <a href="https://arxiv-export1.library.cornell.edu/abs/2107.04539v2">(S&#8322;)-condition and Cohen-Macaulay binomial edge ideals</a></li>
    </ul>
    <h2>Certifications</h2>
    <ul>
    <li>Oct 2023  Certified Kubernetes Administrator</li>
    </ul>
    </section>
</div>
<TechStack/>
<style>
    #about {
        display: flex;
        flex-wrap: wrap;
    }
    #my-img {
        display: block;
        margin: 1em auto;
        width: 294px;
        height: 294px;
        border-radius: 50%;
    }
    section {
        max-width: 1024px;
        margin: auto;
        font-size: large;
    }
</style>